 @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
body{
    background: linear-gradient(135deg, #e4e8f1,  rgba(196, 207, 242, 0.533));
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: white;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: white;
}
span{
    margin-top: 5px;
}

h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}


 html, body {
    background: #010101;
    color: #ffffff;
    scroll-behavior: smooth;
    transition: 800ms all ease-in-out;
 }

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 60px;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
    background-color: #010101;
    padding-left: 10rem;
    padding-right: 10rem;

}
.top img{
    width: 40px;
}

.top ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.top .side-top{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.top .side-top a {
    text-decoration: none;
  color: white;
}

.top ul li a{
   text-decoration: none;
   color: white;
   font-weight: 700;;
}

.hero{
    margin-top: 80px;
    display: flex;

    flex-direction: row;
    padding-left: 10rem;
    padding-right: 10rem;
    gap: 6rem;
}

.hero .first-view{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-left: 4rem;


}
.hero .left h2{
    font-size: 38px;
    color: green;
}

.hero .left span{
    color: #928d8d;


}
.hero .left .a{
    margin-top: 20px;
}

.hero .left .first{
    background-color: rgb(31, 62, 31);
    border: none;
    padding: 20px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s ease;
}
.hero .left .first:hover{
    background-color: rgb(79, 89, 164);
    border: none;
    padding: 15px 15px;
    color: white;


}
.hero .left .second{
    background-color: rgb(248, 251, 248);
    border: none;
    padding: 20px 20px;
    color: rgb(14, 14, 14);
    border-radius: 5px;
    transition: 0.3s ease;
    cursor: pointer;
}
.hero .left .second:hover{
    color: white;
    background: transparent;
    border: 1px solid #928d8d;
    padding: 15px 15px;
}

.hero .about{
    display: flex;
    flex-direction: column;
   gap: 10px;

}
.hero .about h2{
    color: #928d8d;
}
.hero .about p{
    line-height: 2;
}
.hero .right{
    display: flex;
    flex-direction: column;
}
.hero .right img{
    height: 400px;
    width: 400px;
    border-radius: 800px;
    margin-bottom: 40px;
}
.hero .right .contact{
    display: flex;
    gap: 4rem;



}
.right .contact .detail .empty-1{
    color: #f9f3f3;
    font-size: 50px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.right .contact .detail .empty-1:hover{
    color: #1f732e;
    font-size: 60px;
    cursor: pointer;
}
 .skills{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    margin-left: 10rem;
}
.skills .skill-details{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;


}
.skills .skill-details .skill-info{
    display: flex;
    flex-direction: column;
    height: 241px;
    width: 349px;
    gap: 2.5rem;
    padding: 10px 10px;
    background: #3f3636;
    border-radius: 5px;
    transition: 0.3s ease;

}
.skills .skill-details .skill-info:hover{

    height: 251px;
    width: 359px;
    gap: 2.5rem;
    padding: 10px 10px;
    background: #3f3636;
    border-radius: 5px;

}
.skills .skill-details .skill-info img{
    width: 50px;
}

.skills .skill-details .skill-info  i{
    font-size: 38px;
    font-weight: 700;
    color: #62c274;
    margin-top: 5px;
    margin-left: 5px;

}
.skills .skill-details .skill-info  .first{
    font-size: 38px;
    font-weight: 700;
    color: #62c274;
    margin-top: 5px;
    margin-left: 5px;

}
.skills .skill-details .skill-info  .dev{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 700;
    color: #e3ebe4;
    margin-top: 5px;
    margin-left: 5px;
    height: 70px;
    width: 70px;
    background: #1f732e;

}
.skills .skill-details .skill-info  .ps{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 700;
    color: #e3ebe4;
    margin-top: 5px;
    margin-left: 5px;
    height: 70px;
    width: 70px;
    background: #0f42b0;

}
.skills .skill-details .skill-info span{
    font-size: 38px;
    font-weight: 600;
    margin-left: 10px;
}
.skills-percent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 6rem;
}
.skills-percent .skill-box{
    display: flex;
    gap: 8rem;
}



.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #126b49;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the icon */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}



.percent-info .fa-html5.first {

    color: #E34F26;
    text-shadow: 2px 2px 0 #F06529, 4px 4px 0 #000000;
    font-size: 48px;
}


.percent-info .fa-html5.first:hover {
    color: #F06529;
}

.percent-info .fa-css3.first {
    font-size: 48px;
    color: #1572B6;
    text-shadow: 2px 2px 0 #33A9DC, 4px 4px 0 #000000;
}


.percent-info .fa-css3.first:hover {
    color: #33A9DC;
}

.percent-info .fa-js.first {
    font-size: 48px;
    color: #F7DF1E;
    text-shadow: 2px 2px 0 #000000, 4px 4px 0 #000000;
}


.percent-info .fa-js.first:hover {
    color: #E5C914;
}
.percent-info .fa-python.first {
    font-size: 48px;
    color: #3776AB;
    text-shadow: 2px 2px 0 #FFD43B, 4px 4px 0 #FFD43B;
}


.percent-info .fa-python.first:hover {
    color: #285981;
}

.percent-info .fa-c.first {
    font-size: 48px;
    color: #A8B9CC;
    font-weight: bold;
    position: relative;
}


.percent-info .cc.first::after {
    content: "++";
    font-size: 30px;
    color: #A8B9CC;
    position: absolute;
    top: 5px;
    right: -25px;
}


.percent-info .fa-c.first:hover {
    color: #5D93A3;
}
.percent-info .fa-video.first {
    font-size: 50px;
    color: #FF0000;
    padding: 10px;
    border-radius: 10px;
    background-color: #1C1C1C;
    display: inline-block;
}


.percent-info .fa-video.first:hover {
    color: #E60000;
    background-color: #333333;
}
.percent-info .fa-photo-film.first {
    font-size: 50px;
    color: #FF5733;
    padding: 10px;
    border-radius: 10px;
    background-color: #282828;
    display: inline-block;
}


.percent-info .fa-photo-film.first:hover {
    color: #FF4500;
    background-color: #3A3A3A;
}



.next{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;justify-content: center;
    align-items: center;
}
.next .edu-award{
    display: flex;
    gap: 20rem;
    margin-bottom: 5rem;
}
.next .edu-award h2{
    color: #1f732e;
    margin-bottom: 1rem;
}
.next .edu-award ul {
    list-style: none;

}
.next .edu-award strong{
    color: #33A9DC;
    line-height: 3;
}
.work-language{
    display: flex;
    gap: 20rem;
}
.work-language h2{
    color: #33A9DC;
}
.work-language ul{
    list-style: none;
}
.work-language strong{
    color: #1f732e;
}
.footer{
    margin-top: 6rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;


}
/* project */



.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgb(47, 41, 41);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    padding: 20px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #fef7f7;
}

.card-description {
    font-size: 1em;
    color: #d8c2c2;
    margin-bottom: 15px;
}

.card-btn {
    padding: 10px 15px;
    background-color: #146c37;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-btn:hover {
    background-color: #0056b3;
}




/* For mobile devices (up to 480px) */
@media (max-width: 477px) {



.top{
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 6rem;
    position: fixed;
    height: 60px;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
    background-color: #010101;
    padding-left: 1rem;
    padding-right: 1rem;

}
.hero{
    margin-top: 100px;
    display: flex;

    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 6rem;
}

.hero .right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero .right img{
    height: 300px;
    width: 300px;
    border-radius: 800px;
    margin-bottom: 40px;
}
.hero .right .contact{
    display: flex;
    gap: 1rem;



}
.hero .left .a{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.hero .left .first{
    background-color: rgb(31, 62, 31);
    border: none;
    padding: 20px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s ease;
}
.hero .left .first:hover{
    background-color: rgb(79, 89, 164);
    border: none;
    padding: 15px 15px;
    color: white;


}
.hero .left .second{
    background-color: rgb(248, 251, 248);
    border: none;
    padding: 20px 10px;
    color: rgb(14, 14, 14);
    border-radius: 5px;
    transition: 0.3s ease;
    cursor: pointer;
}
.hero .left .second:hover{
    color: white;
    background: transparent;
    border: 1px solid #928d8d;
    padding: 15px 15px;
}

.right .contact .detail .empty-1{
    color: #f9f3f3;
    font-size: 50px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.right .contact .detail .empty-1:hover{
    color: #1f732e;
    font-size: 60px;
    cursor: pointer;
}

.skills{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    gap: 5rem;
    margin-left: 0rem;

}
.skills .skill-details{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 2rem;



}
.skills .skill-details .skill-info{
    display: flex;
    flex-direction: column;
    height: 201px;
    width: 300px;
    margin-left: 0px;
    padding: 10px 10px;
    background: #201e1e;
    border-radius: 5px;
    transition: 0.3s ease;

}
.skills .skill-details .skill-info:hover{

    height: 251px;
    width: 359px;
    gap: 2.5rem;
    padding: 1px 1px;
    background: #3f3636;
    border-radius: 5px;

}
.skills .skill-details .skill-info img{
    width: 50px;
}

.skills .skill-details .skill-info  i{
    font-size: 38px;
    font-weight: 700;
    color: #62c274;
    margin-top: 5px;
    margin-left: 5px;

}
.skills .skill-details .skill-info  .first{
    font-size: 38px;

    color: #62c274;
    margin-top: 5px;
    margin-left: 5px;

}
.skills .skill-details .skill-info span{
    font-size: 14px;
}

.skills-percent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 6rem;
}
.skills-percent .skill-box{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.next{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;justify-content: center;
    align-items: center;
}
.next .edu-award{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.next  .education{
    padding-left: 1rem;
    padding-right: 1rem;
}
.next  .awards{
    padding-left: 1rem;
    padding-right: 1rem;

}

.work-language{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.work-language h2{
    color: #33A9DC;
    font-size: 38px;
}
.work-language ul{
    list-style: none;
}
.work-language strong{
    color: #1f732e;
}
.footer{
    margin-top: 6rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}


}